{{ define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "content"}}
{{- $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") .Site.Params.archivePaginate }}
<section id="archive" class="archive">
  {{- if not $paginator.HasPrev }}
    <div class="archive-title">
      <span class="archive-post-counter">
        {{ T "archiveCounter" (len .Data.Pages) }}
      </span>
    </div>
  {{- end -}}

  {{- range $index, $element := $paginator.Pages -}}
    {{- $thisYear := $element.Date.Format "2006" }}
    {{- $lastElement := $index | add -1 | index $paginator.Pages }}
    {{ if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
      <div class="collection-title">
        <h2 class="archive-year">{{ $thisYear }}</h2>
      </div>
    {{- end }}

    <div class="archive-post">
      <span class="archive-post-time">
        {{ $element.Date.Format "01-02" }}
      </span>
      <span class="archive-post-title">
        <a href="{{ $element.URL }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>
    </div>
  {{- end -}}
</section>
<!-- pagination -->
<nav class="pagination">
  {{ with $paginator.Prev -}}
    <a class="prev" href="{{ .URL }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">{{ T "prevPage" }}</span>
    </a>
  {{- end }}
  {{ with $paginator.Next -}}
    <a class="next" href="{{ .URL }}">
      <span class="next-text">{{ T "nextPage" }}</span>
      <i class="iconfont icon-right"></i>
    </a>
  {{- end }}
</nav>
{{ end }}