<!-- OGP -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Params.title }}{{ else }}{{ .Params.title }}{{ end }}" />
{{ with .Site.Params.title }}
<meta property="og:site_name" content="{{ . }}" />
{{ end }}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}img/logo.png" />
<meta property="go:description"
      content="{{ with .Description }}
                   {{ . }}
               {{ else }}
                   {{if .IsPage}}
                       {{ .Summary }}
                   {{ else }}
                       {{ with .Site.Params.description }}
                           {{ . }}
                       {{ end }}
                   {{ end }}
               {{ end }}" />
<meta name="twitter:card" content="summary" />
