// ==============================
// Iconfont
// ==============================

@font-face {
  font-family: 'iconfont';  /* project id 96542 */

  src: url('../fonts/iconfont/iconfont.eot');
  src: url('../fonts/iconfont/iconfont.eot#iefix') format('embedded-opentype'), // not '?#iefix', because webpack will add '?hash=[hash]'
  url('../fonts/iconfont/iconfont.woff') format('woff'),
  url('../fonts/iconfont/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');

  // Uncomment these code and comment upper code if you want to use alicdn
  // src: url('//at.alicdn.com/t/font_96542_ixz9jngnf1sb57b9.eot');
  // src: url('//at.alicdn.com/t/font_96542_ixz9jngnf1sb57b9.eot?#iefix') format('embedded-opentype'),
  // url('//at.alicdn.com/t/font_96542_ixz9jngnf1sb57b9.woff') format('woff'),
  // url('//at.alicdn.com/t/font_96542_ixz9jngnf1sb57b9.ttf') format('truetype'),
  // url('//at.alicdn.com/t/font_96542_ixz9jngnf1sb57b9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-instagram:before {
  font-size: .95em;
  content: "\e611";
  position: relative;
  top: -1px;
}
.icon-douban:before {
  content: "\e610";
}
.icon-tumblr:before {
  content: "\e69f";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-linkedin:before {
  content: "\e60d";
  position: relative;
  top: -4px;
}
.icon-twitter:before {
  content: "\e600";
}
.icon-weibo:before {
  content: "\e602";
}
.icon-stack-overflow:before {
  content: "\e603";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-email:before {
  content: "\e605";
  position: relative;
  top: -2px;
}
.icon-facebook:before {
  content: "\e601";
  font-size: .95em;
  position: relative;
  top: -2px;
}
.icon-github:before {
  content: "\e606";
  position: relative;
  top: -3px;
}
.icon-rss:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e609";
}
.icon-zhihu:before {
  content: "\e607";
  font-size: .9em;
  position: relative;
  top: -2px;
}
.icon-pocket:before {
  content: "\e856";
}

/* Generic Icon */
.icon-heart:before {
  content: "\e608";
}
.icon-right:before {
  content: "\e60a";
}
.icon-left:before {
  content: "\e60b";
}
.icon-up:before {
  content: "\e60c";
}
.icon-close:before {
  content: "\e60f";
}
